
.main-container{
    width:100vw;
    height:auto;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.max-w-flex{
    width:100%;
    display:flex;
}
.center-a{
    justify-content: center;
}
.text-c{
    text-align:center;
}
.max-w{
    width:100%;
}

/* profile desktop section css */
.container-001{
    width:100%;
    height:auto;
    font-size: 16px;
}
.profile-data{
    display:inline-block;
    justify-content:center;
    width:100%;
    height: 12rem;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}
.profile-name{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:2.375rem;
    letter-spacing: 0.035rem;
    font-weight:600;
}
.profile-name span{
    font-size: 1.75em;
    color:#ffffff;
    letter-spacing:0.035em;
}
.profile-rating-grid{
    margin-top:0.75rem;
    width:16rem;
}
.border-right{
    border-right:1px solid #ffffff;
}
.description-001{
    display:flex;
    justify-content: space-between;
}
.description-001 span{
    font-size:0.875em;
    color:#ffffff;
    display:inline;
}
.description-001 small{
    font-size:0.875em;
    padding-top:2px;
}
.description-001 img{
    display:inline-block;
    height:16px;
    width:16px;
    padding-right:0.3125rem;
}
.andromeda-row{
    display: inline;
    padding-left: 0.3125rem;
}
.andromeda-row ngb-rating{
    font-size: 0.875em;
    color:gold;
    background: transparent;
    display: inline;
}
.profile-location-wrap span{
    padding-top:0.625rem;
    color:#ffffff;
    font-size: 0.875rem;
}
.profile-location-wrap i{
    padding-right:0.25rem;
}
.social-media{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.social-media-wrap{
    display:flex;
    justify-content:start;
    margin-top: 40px;
    margin-right: 14vw;
}
.icon-wrap{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

.facebook{
    background-color:#3B5998;
}
.youtube{
    background-color:#FF0000;
}
.instagram{
    background-color: #DD2A7B;
}
.linkedin{
    background-color: #0072B1;
}
.twitter{
    background-color: #20A0F2;
}

.profile-photo{
    position: absolute;
    margin-top:-3rem;
    width:fit-content;
    border-radius:50%;
    height:5.625rem;
    width:5.625rem;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.profile-photo img{
    height:15px;
    width:15px;
    left: 4.8125rem;
    top: 1.25rem;
    position:absolute;
    background-color:white;
    border-radius:50%;
}
.profile-options{
    width:100%;
    max-width:30%;
    margin-top:4.125rem;
}
.icon-container{
    display:flex;
    justify-content:center;
    height:2.7rem;
    width:2.7rem;
    align-items: center;
    border-radius:50%;
}
.icon-container img{
    height:6rem;
}

.option-description{
    font-size:0.625rem;
    color:#5E5F60;
}
.profile-text{
    margin-top:0.9375rem;
    width:60%;
    text-align: center;
}
.profile-text span{
    color:#212529;
    font-size:12px;
}

/* profile desktop section css end */

/* cards presentation */
.cards-presentation{
    margin-top:50px;
    width:65%;
    height:auto;
    font-size:16px;
    transition: 0.5s ease-in; 
}
.category span{
    font-size:1.25em;
    font-weight:bold;
    color:#333333;
}
.horizontal-scroll-wrapper {
    width: 210px;
    height: 70vw;
    top: -15px;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.horizontal-scroll-wrapper > div {
    width: 190px;
    height: 21vw;
    background-color: blue;
    position: relative;
    margin-top: 10px;
    /* transform: rotate(90deg); */
  }
.horizontal-scroll-wrapper {
    transform: rotate(-90deg);
    transform-origin: right top;
  }
  .venv{
      width:100%;
      overflow-y:hidden;
  }

  #container {
    width: 500px;
    overflow: auto;
  }
  
  #scrollable {
    display:flex;
    width: fit-content;
    height: 100px;
    background-color: red;
  }
  .card-container{
      height:90px;
      width: 20vw;
      background-color:blue;
      margin-right:10px;
  }
  .skill-card-enclosure{
      height:250px;
      width:240px;
      display:inline-block;
      margin-right:10px
  }
  .goods-card-enclosure{
      height:230px;
      width: 250px;
      
      margin-right:10px;
  }
  .community-card-enclosure{
      height:205px;
      width:255px;
      margin-right:10px;
      display:inline-block;
  }
  .cards-presentation ::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

.cards-presentation ::-webkit-scrollbar-thumb {
    background:transparent;
}
#scroll{
    margin-top: 10px;
    width:100%; 
    max-height:300px; 
    overflow-x:scroll; 
    position: relative; 
    left: 0px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in; 
    white-space: nowrap;
}
.panel-controls{
    display: flex; 
    justify-content: flex-end;
}

/* cards presentation */


/* test space */
.test1{
    display:flex;
    flex-wrap:nowrap;
}
.test2{
    height:150px;
    width:150px;
    background-color:blue;
}

  

/* test space */


/* product card */
.card-product{
    height:11.875rem;
    width:15.625rem;
    border-radius:0.5rem;
}
.image-container{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:6.875rem;
}
.max-w{
    width:100%;
}
.d-flex{
    display:flex;
}
.major-col{
    max-width: 69%;
    white-space: nowrap;
    margin-right: 6%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.minor-col{
    white-space: normal;
    max-width:30%;
   
} 
.col-height-1{
    /* max-height:3.125rem; */
    justify-content: space-between;
}
.product-name{
    
    line-height:1.875rem;
    color:#356083;
    font-size:1rem;
    font-weight:bold;
}
.product-price{
    
    color:black;
    font-size:1rem;
    line-height:1.875rem;
    font-weight: bold;
}
.text-end{
    text-align:right;
    justify-content:flex-end;
}
.product-address{
    font-size:0.75rem;
    color:#666666;
    
}
.product-time{
    font-size:0.625rem;
    color:#666666;
    
}
.icons-container{
    margin-top:10px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}
.icon-div{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius:50%;
}
.icon-div-menu{
    display:flex;
    align-items:center;
    justify-content: center;
    height:20px;
    width:20px;
    background:transparent;
}
.icon-div-menu i{
    font-size: 13px;
    color:white;
}
.icon-div span{
    color:#356083;
    font-size:8px;
}
.icon-div img{
    height:8px;
    margin-right:1px;
}
/* /* .icon-div-bare{
    height: 20px;
    width: 20px;
} */
.icon-div-bare img{
    height:20px;
    margin-right:2px;
} 


/* community card */

.cardbackground
{
    height: 100%;
    max-height:205px;
    max-width:250px;
    border-radius: 20px;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    padding: 8px;
}

.card-top{
    position:relative;
    width:100%;
    display: flex;
    min-height: 60px;
}
.card-bottom
{
    position:absolute;
    bottom:8px;
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerfontcolor
{
    font-size: 0.9em;
    font-weight: 500;
    color:white;
    display: block;
    text-align: start;
}
.time-stamp{
    color: white;
    font-size: 0.7em !important;
    text-align: start;
}
.ml-left-small{
    padding-left: 2px;
}
.img-fluid{
    height:35px; 
    width:35px; 
    border-radius: 27px;
}
.card-name{
    display: inline-block;
    text-align: start;
}
.card-name-over{
    width: 100%;
    max-height: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.metrics{
    color: white;
}
.maximum-width{
    width: 100%;
}
.recommend-bottom{
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}
.recommend-bottom-fle{
    width: 100%;
    display: flex;
    padding-top: 15px;
}
.service-type{
    display: block;
    margin-top: 7px;
    font-size: 1em;
    font-weight: 500;
    color: white;
}
.member-count{
    display: block;
    color: white;
    font-size: 0.8em;
}
.center-align{
    justify-content: center;
    display: flex;
}
.join-button{
    display: block;
    padding: 7px 24px;
    border-radius: 20px;
    background-color: #869658;
    color: white;
    font-size: 1em;
    margin-top: 5px;
    text-align: center;
    outline: none;
    border: none;
}
/* card css */
 
 
 
 
@media (min-width:551px) and (max-width:768px){
    .community-landing{
        font-size: 14px;
    }
    .cardbackground{
        height: 160px;
        }
}





@media (min-width:551px) and (max-width:768px){
    .profile-options{
        width:100%;
        max-width:40%;
        margin-top:3.125rem;
    }
    .profile-text{
        margin-top:0.9375rem;
        width:80%;
        text-align: center;
    }
    .cards-presentation{
        margin-top:50px;
        width:75%;
        height:auto;
        font-size:16px;
    }
}
@media(max-width:550px){
    .profile-options{
        width:100%;
        max-width:90%;
        margin-top:3.125rem;
    }
    .profile-text{
        margin-top:0.9375rem;
        width:90%;
        text-align: center;
    }
    .cards-presentation{
        margin-top:50px;
        width:95%;
        height:auto;
        font-size:16px;
    }
    .social-media-wrap{
        display:flex;
        justify-content:start;
        margin-right: 14vw;
        display:none;
    }
}

