<div class="main-contaner">

    <div class="container-001">
        <div class="profile-data" style="background-image: url('https://i.pinimg.com/originals/51/7e/83/517e83eb97c94ffc7bec62db71c3c586.jpg');">
            <div class="profile-name">
                <span>Shravan Naikini</span>
            </div>
            <div class="max-w-flex center-a">
                <div class="profile-rating-grid row">
                    <div class="col-7 description-001 border-right">
                        <span>
                            <span>Developer</span>
                        <span class="andromeda-row">
                            <ngb-rating max="5" rate="4" readonly="false"></ngb-rating>
                        </span>
                        </span>
                    </div>
                    <div class="col-5 description-001">   
                        <span>
                            <img src="assets/profile-home/online.svg">
                            <small>Online</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="max-w-flex center-a">
                <div class="profile-location-wrap">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        Hyderabad, Telangana
                    </span>
                </div>
            </div>
            <div class="social-media">
                <div class="social-media-wrap">
                    <div class="icon-wrap facebook">
                        <img src="assets/profile-home/facebook.svg">
                    </div>
                    <div class="icon-wrap twitter">
                        <img src="assets/profile-home/Shape.svg">
                    </div>
                    <div class="icon-wrap linkedin">
                        <img src="assets/profile-home/LinkedIn.svg">
                    </div>
                    <div class="icon-wrap instagram">
                        <img src="assets/profile-home/2083.svg">
                    </div> 
                    <div class="icon-wrap youtube">
                        <img src="assets/profile-home/youtube.svg">
                    </div>  
                </div>
            </div>
            
        </div>
        <div class="max-w-flex center-a">
            <div class="profile-photo" style="background-image: url('https://i.ibb.co/4ZW6qdS/shra1.jpg');">
                <img src="assets/profile-home/check.svg">
            </div>
        </div>

        <div class="max-w-flex center-a">
            <div class="profile-options row no-gutters">
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <img class="options-svg" src="assets/profile-home/deal.svg">
                        </div>    
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Meet Now</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <img class="options-svg" src="assets/profile-home/pay.svg">
                        </div> 
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Pay</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <img class="options-svg" src="assets/profile-home/call.svg">
                        </div> 
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Call</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="max-w-flex center-a">
                        <div class="icon-container">
                            <img class="options-svg" src="assets/profile-home/mail.svg">
                        </div> 
                    </div>
                    <div class="max-w text-c">
                        <span class="option-description">Chat</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-flex center-a">
            <div class="profile-text">
                <span>
                    What is Lorem Ipsum Lorem Ipsum is simply dummy text of 
                    the printing and typesetting industry Lorem Ipsum has been 
                    the industry's standard dummy text ever since the 1500s when 
                    an unknown printer took a galley of type and scrambled it to 
                    make a type specimen book it ha <a><span class="highlight">Report Spam</span></a>
                </span>
            </div>
        </div>

    </div>

    <div class="max-w-flex center-a">
        <div class="cards-presentation">
            <div class="max-w">
                
                <div class="venv">

                    <div>
                        <div class="panel-controls d-flex justify-content-between align-items-center">
                            <div class="category">
                                <span>Skills</span>
                            </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button (click)="leftmove(panel1)" class="btn btn-primary">&lt;</button>
                            <button (click)="rightmove(panel1)" class="btn btn-primary ml-2">&gt;</button>
                        </div>
                        </div>
                        <div #panel1 id="scroll">
                        <div >
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                         <div class="skill-card-enclosure"><app-skill-card></app-skill-card></div>
                           
                        </div>
                        </div>
                    </div>  
                </div>
               
                <div class="venv">

                    <div>
                        <div class="panel-controls d-flex justify-content-between align-items-center">
                            <div class=" category">
                                <span>Goods</span>
                            </div>
                        <div class="d-flex justify-content-between align-items-center" >
                            <button (click)="leftmove(panel2)" class="btn btn-primary">&lt;</button>
                            <button (click)="rightmove(panel2)" class="btn btn-primary ml-2">&gt;</button>
                        </div>
                        </div>
                        <div #panel2  id="scroll">
                        <div *ngFor="let product of products" >
                         <div class="goods-card-enclosure" ><div class="card-product shadow">
                            <div class="image-container" [style.background-image]="'url('+product.uri+')'">
                                <div class="max-w d-flex text-end">
                                    <div class="icons-container">
                                        <div class="icon-div-menu">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </div>
                                        <div class="icon-div">
                                            <img src="assets/profile-home/like.svg">
                                            <span>
                                                {{product.likes_count}}
                                            </span>
                                        </div>
                                        <div class="icon-div-bare">
                                            <img class="temporary" src="assets/profile-home/privacy.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="max-w d-flex col-height-1">
                                    <div class="major-col">
                                        <span class="product-name">{{product.name}}</span>
                                    </div>
                                    <div class="minor-col text-end">
                                        <span class="product-price">${{product.price}}</span>
                                    </div>
                                </div>
                                <div class="max-w d-flex col-height-1">
                                    <div class="major-col">
                                        <span class="product-address">
                                           {{product.location}}
                                        </span>
                                    </div>
                                    <div class="minor-col text-end">
                                        <span class="product-time">{{product.time_text}}</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div></div>
                        
                           
                        </div>
                        </div>
                    </div> 

                    
                </div>
                
                <div class="venv">

                    <div>
                        <div class="panel-controls d-flex justify-content-between align-items-center">
                            <div class="category">
                                <span>Communities</span>
                            </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button (click)="leftmove(panel3)" class="btn btn-primary">&lt;</button>
                            <button (click)="rightmove(panel3)" class="btn btn-primary ml-2">&gt;</button>
                        </div>
                        </div>
                        <div #panel3 id="scroll">
                        <div  *ngFor="let community of communities">
                            <div class="community-card-enclosure"><div class="card cardbackground" [style.background-image]="'linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),url('+community.cover+')'" >
                                <!-- [style.background-image]="'linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url('+group.cover+')'" -->
                            
                              <div class="card-top">
                                  <img class="img-fluid" [src]="community.avatar" alt="notfound">
                                  <div class="card-name" class="ml-2">
                                      <span class="headerfontcolor">{{community.group_name}}</span>
                                      <small class="time-stamp">created {{community.time_text}}</small>
                                  </div>
                              </div>
                              <div class="card-bottom">
                                  <div style="position:relative; width:50%; height: 50px;">
                                        <img *ngFor="let image of community.members.slice(0,3); let i = index" class="img-fluid" style="height:30px;width:30px;border-radius: 27px;position:absolute;
                                        bottom: 10px; border: 2px solid white;" [style.left]="(i*15)+'px'" src="{{image.avatar}}" alt="notfd">
                                       <div *ngIf="community.members.length>4" style="width: 30px; height: 30px; border-radius: 15px; background-color: rgba(0, 0, 0, 0.171); display: flex; align-items: center; justify-content: center; color: white; border: 1px solid white;">
                                            + {{community.members.length-3}}
                                       </div>
                                        <!-- <img class="img-fluid"  style="height:30px;width:30px;border-radius: 27px;position:absolute;
                                        bottom: 10px;" src="" alt="images from api" > -->
                                  </div>
                                  <div style="color: white;">
                                    
                                    <img src="../../../assets/Union 4.svg">
                                       <span class="ml-left-small">1</span>
                                     <img src="../../../assets/Icon material-chat_bubble_outline.svg">
                                       <span class="ml-left-small">2</span>
                                  </div>
                              </div>
                            </div>
                            </div>
                           
                        </div>
                        </div>
                    </div> 

                    
                </div>
            
               
            </div>

            
        </div>
    </div>
    
    <div style="height:300px;display:block"></div>

</div>
